<h1>Name: <%= @passenger.name %></h1>
<%= button_to "Assign To A Flight", "/passengers/#{@passenger.id}/new", method: :get %>


<section id = "flights">
  <h2>Flights</h2>
  <% @passenger.flights.each do |flight| %>
    <%= link_to flight.number, "/flights/#{flight.id}" %>
  <% end %>
</section>
